*{box-sizing: border-box;}

body{
    font-family: Arial, Helvetica, sans-serif;
background-image: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(88deg, rgb(33, 20, 105),rgb(1, 15, 13));
    
}

form{
    color: white;
    width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    border-radius: 15px;
    padding: 20px;
    background-image: radial-gradient(circle at top left, rgb(33, 29, 75) 0%, rgb(33, 29, 75) 4%,rgb(29, 39, 97) 4%, rgb(29, 39, 97) 39%,rgb(24, 49, 120) 39%, rgb(24, 49, 120) 45%,rgb(20, 59, 142) 45%, rgb(20, 59, 142) 69%,rgb(15, 69, 164) 69%, rgb(15, 69, 164) 71%,rgb(11, 79, 186) 71%, rgb(11, 79, 186) 75%,rgb(6, 89, 209) 75%, rgb(6, 89, 209) 79%,rgb(2, 99, 231) 79%, rgb(2, 99, 231) 100%);
}

input[type=text], input[type=password]{
    border: solid 1px #ccc;
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    padding: 10px;
    width: 100%;
    
}

input[type=submit]{
    border: 0;
    outline: 0;
    background-color: #003366;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
}

.section{
    padding: 15px 0;
}

.section .title{
    padding: 10px 0;
}

.button{
    padding: 10px 0;
    text-align: center;
}

.button a{
    color: rgb(62, 248, 155);
}